{% extends 'MatteoLearnBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('media/css/main.css') }}" type="text/css" />
{% endblock stylesheets %}

{% block content %}
<h1>Editing Flashcards <small>{{ cardbox.name }}</small></h1>

<form action="{{ path('learn_cardbox_create_flashcards', { 'id': cardbox.id, 'cardbox': cardbox.cardboxslug }) }}" method="post" {{ form_enctype(form) }}
  id="addFlashcardsForm" >
  
  <div class="row">
    <table class="table">
      <tr>
        <th>Front</th>
        <th>Back</th>
        <th>Declaration</th>
        <th>Delete</th>
      </tr>
      {% if forms is defined %}
      {% for key, form in forms %}
      {# Form for all existing Flashcards #}
      <tr class="cardRow">
        <td>
          {{ form_widget(form.front) }}
        </td>
        <td>
          {{ form_widget(form.back) }}
        </td>
        <td>
          {{ form_widget(form.declaration) }}
        </td>
        <td>
          <a href="#" class="deleteFlashcard"><i class="icon-remove"></i></a>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
      {# A new Flashcard Form #}
      <tr id="hiddenCardRow" class="newCardRow hidden">
        <td>
          {{ form_widget(form.front) }}
        </td>
        <td>
          {{ form_widget(form.back) }}
        </td>
        <td>
          {{ form_widget(form.declaration) }}
        </td>
        <td>
          <a href="#" class="deleteFlashcard"><i class="icon-remove"></i></a>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <a href="#" class="createNewFlashcard"><i class="icon-plus-sign"></i></a>
        </td>
      </tr>
    </table>
  </div>
  <p>
      <button class="btn" id="editCardsButton" type="submit">Create</button>
  </p>
  </div>
</form>

<div class="row">
  <ul class="record_actions unstyled">
      <li>
          <a href="{{ path('learn_cardbox_show', { 'id': cardbox.id, 'cardbox': cardbox.cardboxslug }) }}">
              Back to the cardbox
          </a>
      </li>
  </ul>
</div>
{% endblock content %}

{% block custom_javascripts %}
<script type="text/javascript" src="{{ asset('media/js/flashcard.js') }}"></script>
{% endblock %}