{% extends 'MatteoLearnBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('media/css/main.css') }}" type="text/css" />
{% endblock stylesheets %}

{% block content %}
<h1>Flashcard Creation for '{{ cardbox.name }}'</h1>

<form action="{{ path('learn_cardbox_create_flashcards', { 'id': cardbox.id }) }}" method="post" {{ form_enctype(form) }}
  id="addFlashcardsForm" >
  
  <div class="row">
    <table class="table">
      <tr>
        <th>Front</th>
        <th>Back</th>
        <th>Declaration</th>
      </tr>
      {% if forms is defined %}
      {% for key, form in forms %}
      {# Form for all existing Flashcards #}
      <tr>
        <td>
          {{ form_widget(form.front) }}
        </td>
        <td>
          {{ form_widget(form.back) }}
        </td>
        <td>
          {{ form_widget(form.declaration) }}
        </td>
      </tr>
      {# TODO: Make the cards deletable with a delete button (javascript) #}
      {% endfor %}
      {% endif %}
      {# A new Flashcard Form #}
      <tr>
        <td>
          {{ form_widget(form.front) }}
        </td>
        <td>
          {{ form_widget(form.back) }}
        </td>
        <td>
          {{ form_widget(form.declaration) }}
        </td>
      {# TODO: Make it possible to add new cards with a + button #}
      </tr>
    </table>
  </div>
  <p>
      <button class="btn" type="submit">Create</button>
  </p>
  </div>
</form>

<div class="row">
  <ul class="record_actions unstyled">
      <li>
          <a href="{{ path('learn_cardbox_show', { 'id': cardbox.id }) }}">
              Back to the cardbox
          </a>
      </li>
  </ul>
</div>
{% endblock content %}