<h1>Flashcard</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Front</th>
            <td>{{ entity.front }}</td>
        </tr>
        <tr>
            <th>Back</th>
            <td>{{ entity.back }}</td>
        </tr>
        <tr>
            <th>Declaration</th>
            <td>{{ entity.declaration }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('learn_flashcard') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('learn_flashcard_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('learn_flashcard_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
