<table class="record_properties table ">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ cardbox.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ cardbox.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ cardbox.description }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ cardbox.category }}</td>
        </tr>
        <tr>
            <th>Difficulty</th>
            <td>{{ cardbox.difficulty }}</td>
        </tr>
    </tbody>
</table>