{% extends 'MatteoLearnBundle::layout.html.twig' %}

{% block content %}
<h1>Cardbox edit
<a href="{{ path('learn_cardbox') }}">
    <i class="icon-arrow-left"></i>
</a></h1>

<form action="{{ path('learn_cardbox_update', { 'id': entity.id, 'cardbox': entity.cardboxslug }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">Edit</button>
    </p>
</form>

<form action="{{ path('learn_cardbox_delete', { 'id': entity.id, 'cardbox': entity.cardboxslug }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit">Delete</button>
</form>
{% endblock content %}