{% extends 'MatteoLearnBundle::layout.html.twig' %}

{% block content %}
<h1>Cardboxes</h1>

<table class="records_list table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th class="hidden-phone">Front Side Content</th>
            <th class="hidden-phone">Back Side Content</th>
            <th>Learn</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('learn_cardbox_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.category }}</td>
            <td>{{ entity.difficulty }}</td>
            <td class="hidden-phone">{{ entity.frontside }}</td>
            <td class="hidden-phone">{{ entity.backside }}</td>
            <td><button class="btn" href="#">Learn it</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('learn_cardbox_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock content %}