{% extends 'MatteoLearnBundle::layout.html.twig' %}

{% block content %}
{% if category is defined %}
  <h1>Cardboxes <small>({{ category.name }})</small></h1>
{% else %}
  <h1>All Cardboxes</h1>
{% endif %}

<table class="records_list table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th class="hidden-phone">Front Side Content</th>
            <th class="hidden-phone">Back Side Content</th>
            <th>Learn</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('learn_cardbox_show', { 'id': entity.id, 'cardbox': entity.cardboxslug }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.category }}</td>
            <td>{{ entity.difficulty }}</td>
            <td class="hidden-phone">{{ entity.frontside }}</td>
            <td class="hidden-phone">{{ entity.backside }}</td>
            <td><a href="{{ path('learn_cardbox_learn_flashcards', { 'id': entity.id, 'cardbox': entity.cardboxslug }) }}"><button class="btn" >Learn it</button></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('learn_cardbox_new') }}">
            Create a new cardbox
        </a>
    </li>
</ul>
{% endblock content %}