{% extends 'MatteoLearnBundle::layout.html.twig' %}

{% block content %}
<h1>Cardbox list</h1>

<table class="records_list table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th>Front Side Content</th>
            <th>Back Side Content</th>
            <th>Actions</th>
            <th>Learn</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('learn_cardbox_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.category }}</td>
            <td>{{ entity.difficulty }}</td>
            <td>{{ entity.frontside }}</td>
            <td>{{ entity.backside }}</td>
            <td>
                <ul class="unstyled">
                    <li>
                        <a href="{{ path('learn_cardbox_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
            <td><button class="btn" href="#">Start learning</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('learn_cardbox_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock content %}