{% extends 'MatteoLearnBundle::layout.html.twig' %}

{% block content %}
<h1>Cardbox
<a href="{{ path('learn_cardbox_edit', { 'id': cardbox.id, 'cardbox': cardbox.cardboxslug }) }}">
    <i class="icon-edit"></i>
</a></h1>
{% include 'MatteoLearnBundle:Cardbox:cardboxTable.html.twig' %}

<ul class="record_actions unstyled">
    {% if cardbox.isprivate == 1 %}
    <li>
      <div class="alert">
      This cardbox is set to private
      </div>
    </li>
    {% endif %}
    <li>
        <form action="{{ path('learn_cardbox_edit_flashcards', { 'id': cardbox.id, 'cardbox': cardbox.cardboxslug }) }}" method="post">
            <button class="btn" type="submit">Add / Edit Flashcards</button>
        </form>
    </li>
    <li>
      <a href="{{ path('learn_cardbox_learn_flashcards', { 'id': cardbox.id, 'cardbox': cardbox.cardboxslug }) }}"><button class="btn btn-primary">Start learning</button></a>
    </li>
</ul>

{% if flashcards is empty %}
<div class="alert">There are currently <strong>no Flashcards</strong> in this cardbox!</div>
{% else %}
<table class="records_list table table-hover">
    <thead>
        <tr>
            <th>{{ cardbox.frontside }}</th>
            <th>{{ cardbox.backside }}</th>
        </tr>
    </thead>
    <tbody>
    {% for flashcard in flashcards %}
        {% if flashcard.declaration|length > 0 %}
            <tr class='popoverDeclaration' rel='popover' data-title='Explanation of {{ flashcard.front }}'
              data-content='{% if flashcard.declaration|length > 140 %} 
                              {{ flashcard.declaration|slice(0, 140) }}...
                            {% else %}
                              {{ flashcard.declaration }}
                            {% endif %}'>
                <td>{{ flashcard.front }}</td>
                <td>{{ flashcard.back }}</td>
            </tr>
        {% else %}
            <tr>
                <td>{{ flashcard.front }}</td>
                <td>{{ flashcard.back }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}

{% block custom_javascripts %}
<script type="text/javascript" src="{{ asset('media/js/cardbox.js') }}"></script>
{% endblock %}